.Contact{
  background-color: cornsilk;
  height: 50vh;
  
}
.text-center{
  font-family: 'Ubuntu', sans-serif;
  padding-top: 20px;
  text-align: center;
  
  font-size: 45px;
  
}
.form{
 max-width: 700px;
  margin: 42px auto;
} 
.form-input{
  
  font-family: 'Ubuntu', sans-serif;
  
  margin:20px 0px;
  padding: 4px 13px;
  width: 100%;
  font-size: 15px;
  border: 2px solid grey;
  border-radius: 7px;
  
}
button a {
  background-color: rgb(98, 98, 229);
  color: white;
  font-size: 22px;
  padding: 8px;
border-radius: 10px;
text-decoration: none;
}

